@use '../../../styles/mixins.scss';
@use '../../../styles/colors.module.scss';

$icon-text-column-gap: 0.5rem;

.statisticsItem {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 0.5rem;
    width: 90vw;
    border: 1px solid colors.$color-statistics-item-border;
    font-weight: 600;

    @include mixins.medium-screen {
        //width of calendar view
        width: 35.75rem;
    }
}

.icon {
    width: 2rem;
    height: auto;
    align-self: center;
    justify-self: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mixins.medium-screen {
        margin: 0 1rem;
    }
}

.date {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    font-size: large;
}

.month {
    margin: 0;
    font-weight: 600;
}

.periodBreak {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 1fr;
    align-items: center;

    @include mixins.medium-screen {
        grid-template-columns: 3fr repeat(8, 1fr);
        justify-content: center;
    }
}

.tampons {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: $icon-text-column-gap;
    margin-left: 1rem;
    grid-row-start: 1;
    grid-row-end: 3;

    @include mixins.medium-screen {
        justify-self: center;
        grid-row: auto;
    }
}

.dropImage {
    @extend .icon;
}

.dropImageFilled {
    @extend .dropImage;
    color: colors.$color-statistics-item-drop-fill;
}

.dropImageEmpty {
    @extend .dropImage;
    stroke: colors.$color-statistics-item-drop-stroke;
    stroke-width: 0.3rem;
    color: transparent;
}

.crackIcon {
    @extend .icon;
    color: colors.$color-statistics-item-crack-fill;
    width: 1.8rem;
}

.sunIcon {
    @extend .icon;
    width: 2.5rem;
}