$color-primary-darker: #114a44;
$color-primary-dark: #12645a;
$color-primary: #157f73;
$color-primary-light: #67bcb2;
$color-primary-lighter: #bde5e0;
$color-accent: #c03b0f;
$color-secondary-900: #3c1150;
$color-secondary-800: #4d1169;
$color-secondary-700: #641688;
$color-secondary-600: #8139a2;
$color-secondary-500: #9957b7;
$color-secondary-400: #c58bdf;
$color-secondary-300: #d9b1ec;
$color-secondary-200: #e2caed;
$color-secondary-100: #eeeaf1;
$color-second-accent-dark: #FD7A4F;
$color-second-accent: #FDBB56;
$color-second-accent-light: #F9F87C;

$color-font: $color-secondary-900;
$color-font-light: white;

$color-dark-gray: #7e7383;

//components
$color-button-background: $color-primary-light;
$color-button-border: $color-primary;
$color-button-background-selected: $color-primary;
$color-button-font: $color-secondary-300;
$color-button-font-selected: $color-font-light;

$color-switch-off: $color-secondary-100;
$color-switch-on: $color-secondary-300;

//features
$color-mens-button-background: $color-secondary-600;
$color-mens-button-font: $color-font-light;

$color-calendar-neutral-border: $color-secondary-100;
$color-calendar-day-in-current-month-background: $color-secondary-100;
$color-calendar-lightest-day-background: $color-secondary-200;
$color-calendar-light-day-background: $color-secondary-300;
$color-calendar-mens-expected-background: $color-accent;
$color-calendar-normal-day-background: $color-secondary-600;
$color-calendar-strong-day-background: $color-secondary-700;
$color-calendar-today-border: $color-secondary-900;
$color-calendar-ovulation-day-calculated-background: $color-primary-light;
$color-calendar-ovulation-day-felt-background: $color-primary;
$color-calendar-icon-color: $color-secondary-900;

$color-calendar-details-back-icon: $color-secondary-900;

$color-icon-sun-background: $color-second-accent;
$color-icon-sun-stroke: $color-second-accent-dark;

:export {
    colorSwitchOff: $color-switch-off;
    colorSwitchOn: $color-switch-on;
    colorCalendarOvulationDayCalculated: $color-calendar-ovulation-day-calculated-background;
    colorCalendarPeriodExpected: $color-calendar-mens-expected-background;
}