@use './colors.module.scss';

@mixin tabstrip-underline($startingColor: colors.$color-tabstrip-underline) {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, $startingColor 50%, $startingColor);
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 0.2rem;
}