$medium-screen-min-width: 28;
$medium-screen-min-width-in-rem: $medium-screen-min-width + rem;
$large-screen-min-width: 64;
$large-screen-min-width-in-rem: $large-screen-min-width + rem;

//features
.calendarDetailsSettingsIcon {
    width: 2rem;
    height: auto;
}

:export {
    mediumScreenMinWidth: $medium-screen-min-width;
    largeScreenMinWidth: $large-screen-min-width;
}