@use '../styles/colors.module.scss';
@use '../styles/mixins.scss';

.calendarDetailsSettingsIcon {
    width: 1.5rem;
    height: auto;
    
    @include mixins.medium-screen {
        width: 2rem;
    }
}