@use '../../../styles/mixins.scss';

.calendarItem {
    position: relative;
    padding: 0.2rem;

    @include mixins.medium-screen {
        padding: 0.5rem;
    }
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
    align-items: center;

    @include mixins.medium-screen {
        column-gap: 0.2rem;
    }
}

.marker {
    position: absolute;
    top: -1px;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    transform: rotateZ(135deg);
}

.description {
    margin: 0;
    font-size: 0.5rem;

    @include mixins.medium-screen {
        font-size: small;
    }
}

.footerIcons {
    position: absolute;
    bottom: 0;
    right: 0.3rem;
}