@use '../../styles/mixins.scss';
@use '../../styles/colors.module.scss';

.periodItem {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @include mixins.medium-screen {
        row-gap: 4rem;
    }
}

.icon {
    width: 2rem;
    height: auto;
}

.lightDay {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}

.lightDayLabel {
    font-weight: 600;
}