@use '../../styles/mixins.scss';
@use '../../styles/colors.module.scss';

.periodItem {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    @include mixins.medium-screen {
        row-gap: 4rem;
    }
}

.settings {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.settingsTitle {
    margin: 0;
}

.settingsContent {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-left: 1rem;

    @include mixins.medium-screen {
        flex-direction: row;
        column-gap: 3rem;

    }
}

.lightDay {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
}

.lightDayLabel {
    font-weight: 600;
}