@use '../../styles/colors.module.scss';

.multiSelectButton {
    display: flex;
    flex-direction: row;
}

.button {
    padding: 0.5rem;
    background-color: colors.$color-button-background;
    color: colors.$color-button-font;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.75rem;

    &:hover {
        background-color: colors.$color-button-selected-background;
        color: colors.$color-button-font-selected;
    }
}

.selectedButton {
    background-color: colors.$color-button-selected-background;
    color: colors.$color-button-font-selected;
}