@use '../../../styles/colors.module.scss';

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 5rem);
    grid-auto-rows: 5rem;
    grid-gap: 2px;
}

.neutral {
    border: 1px solid colors.$color-secondary-100;
}

.dayInCurrentMonth {
    background-color: colors.$color-secondary-100;
}

.lightestDay {
    background-color: colors.$color-secondary-300;
}

.lightDay {
    background-color: colors.$color-secondary-500;
}

.mensExpected {
    background-color: colors.$color-accent;
}

.normalDay {
    background-color: colors.$color-secondary-600;
}

.strongDay {
    background-color: colors.$color-secondary-700;
}

.ovulationDayCalculated {
    background-color: colors.$color-primary-light;
}

.ovulationDayFelt {
    background-color: colors.$color-primary;
}

.icon {
    color: colors.$color-secondary-900;
    width: 1rem;
    height: auto;
}