@use '../../../styles/colors.module.scss';

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 5rem);
    grid-auto-rows: 5rem;
    grid-gap: 2px;
}

.dayInCurrentMonth {
    background-color: colors.$color-calendar-day-in-current-month-background;
}

.icon {
    color: colors.$color-calendar-icon-color;
    width: 1rem;
    height: auto;
}

.legendItem {
    justify-self: center;
    align-self: flex-end;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.lightestDay {
    background-color: colors.$color-calendar-lightest-day-background;
}

.lightDay {
    background-color: colors.$color-calendar-light-day-background;
}

.mensExpected {
    background-color: colors.$color-calendar-mens-expected-background;
}

.neutral {
    border: 1px solid colors.$color-calendar-neutral-border;
}

.normalDay {
    background-color: colors.$color-calendar-normal-day-background;
}

.ovulationDayCalculated {
    background-color: colors.$color-calendar-ovulation-day-calculated-background;
}

.ovulationDayFelt {
    background-color: colors.$color-calendar-ovulation-day-felt-background;
}

.strongDay {
    background-color: colors.$color-calendar-strong-day-background;
}

.today {
    border: 2px solid colors.$color-calendar-today-border;
}