@use '../../../styles/colors.module.scss';
@use '../../../styles/mixins.scss';
@use '../../../styles/features.scss';

.calendar {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 3rem);
    grid-auto-rows: 3rem;
    grid-gap: 2px;

    @include mixins.medium-screen {
        grid-template-columns: repeat(7, 5rem);
        grid-auto-rows: 5rem;
    }
}

.dayInCurrentMonth {
    background-color: colors.$color-calendar-day-in-current-month-background;
}

.icon {
    width: 0.6rem;
    height: auto;
    flex-shrink: 0;

    @include mixins.medium-screen {
        width: 1rem;
    }
}

.sunIcon {
    @extend .sunIcon;
}

.legendItem {
    justify-self: center;
    align-self: flex-end;
    font-weight: 600;
    font-size: small;
    padding-bottom: 0.5rem;

    @include mixins.medium-screen {
        font-size: medium;
        font-weight: 700;
    }
}

.lightestDay {
    background-color: colors.$color-calendar-lightest-day-background;
}

.lightDay {
    background-color: colors.$color-calendar-light-day-background;
}

.mensExpected {
    background-color: colors.$color-calendar-mens-expected-background;
}

.neutral {
    border: 1px solid colors.$color-calendar-neutral-border;
}

.normalDay {
    background-color: colors.$color-calendar-normal-day-background;
}

.ovulationDayCalculated {
    background-color: colors.$color-calendar-ovulation-day-calculated-background;
}

.ovulationDayFelt {
    background-color: colors.$color-calendar-ovulation-day-felt-background;
}

.strongDay {
    background-color: colors.$color-calendar-strong-day-background;
}

.today {
    border: 2px solid colors.$color-calendar-today-border;
}